@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #ff1744;
  --secondary-color: #93A3B8;
  --text-color: #f4f4f4;
  --background-color: #0F172A;
  --border-color: #03a9f4;
  --error-background-color: #d84315;
  --error-color: #ffab91;
  --warning-background-color: #ff6f00;
  --warning-color: #ffe082;
  --info-color: #96f5f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #f4f4f4;
  background: #0F172A;
}

.main-container {
  align-items: center;
  justify-content: center;
  text-align: center;

}

.startpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}





h1 {
  font-weight: 500;
  font-size: 3rem;
  color: #F9A8D4;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

.channel-info {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 3rem 3rem 0;
}

.channel-icon {
  width: 5rem;
  height: 5rem;
  fill: var(--secondary-color);
}

.channel-description {
  max-width: 800px;
  margin-bottom: 1rem;
  font-size: 9px;
  text-align: left;
  color: #93A3B8;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

li:last-child {
  border-bottom: none;
}

li img {
  object-fit: cover;
}

li h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #F1F6FA;
}

li p {
  font-size: 1rem;
  color: #93A3B8;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #7e8b9d;
  background-color: #1E293B;
  font-size: 0.7rem;
  text-align: left;
  height: 1.5rem;
  width: 100%;

}

.link {
  color: var(--secondary-color);
  font-size: 1rem;
  margin-top: 2rem;
  display: inline-block;
}

.link:hover {
  text-decoration: underline;
}





.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.25rem;
}

.card {
  background: var(--card-background-color);
  padding: 0.4rem;
  transition: transform 0.2s;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card-body {
  padding: 2rem;
  text-align: left;
  width: 100%;
  max-width: 100%;
}








.btn-start {
  background: linear-gradient(45deg, #C62680, #c12fba, #3f043c);
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease, background 0.3s ease;
}


.btn-start:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #a922a2, #d2358e, #861957);
}





@media (min-width: 768px) {
  .page-title {
    font-size: 3rem;
  }

  .details {
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
  }
}