@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #F9A8D4;
  --secondary-color: #93A3B8;
  --text-color: #f4f4f4;
  --background-color: #0F172A;
  --border-color: #03a9f4;
  --error-background-color: #d84315;
  --error-color: #ffab91;
  --warning-background-color: #ff6f00;
  --warning-color: #ffe082;
  --info-color: #DB2777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #f4f4f4;
  background: var(--background-color)
}

.title {
  font-size: 3rem;
}


.startpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 2rem;

}


h1 {
  font-weight: 500;
  font-size: 3rem;
  color: var(--primary-color)
}

a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  color: var(--secondary-color);
  text-decoration: none;

}

span {
  font-weight: 400;
  font-size: 30px;
  padding-right: 20px;
}


.link {
  color: var(--secondary-color);
  font-size: 1rem;
  margin-top: 2rem;
  display: inline-block;

}

.link:hover {
  text-decoration: underline;
}

.channel-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 600px;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}



.channel-icon {
  width: 5rem;
  height: 5rem;
  fill: var(--secondary-color);
}

.channel-description {
  font-size: 0.7rem;
  text-align: left;
  color: #93A3B8;

}

.card-body {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin-top: 0.2rem;
  padding-bottom: 1rem;
}

.card img {
  width: 95px;
  height: 95px;
}

.card-details h3 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
}

.card-details p {
  font-size: 0.7rem;
  color: var(--secondary-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 600px;
  width: auto;

}

li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 600px;
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px inset #65748A;
}

li h3 {
  font-size: 1.5rem;
  font-weight: 100;
  color: #F1F6FA;
}



input {
  padding: 0.5rem;
  margin: 0.8rem 0.5rem;
  border-radius: 5px;
  border: 1px solid #65748A;
  background-color: #1E293B;
  font-size: 0.7rem;
  text-align: left;
  height: 1.5rem;
  width: 100%;
  color: var(--text-color);
}

audio {
  width: 300px;
  padding: 0.6rem;
}

.btn-start {
  background: linear-gradient(45deg, #C62680, #c12fba, #3f043c);
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease, background 0.3s ease;
}


.btn-start:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #a922a2, #d2358e, #861957);
}




@media (max-width: 768px) {

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }


  .channel-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0.5rem;
  }

  .channel-description {
    text-align: center;
    font-size: 0.8rem;
  }

  li {
    display: flex;
    flex-direction: column;

  }

  .card-details h3 {
    font-size: 1rem;
  }

  input {
    font-size: 0.6rem;
    padding: 1rem;
    margin: 0;
    max-width: 100%;
    margin-left: auto;
  }


}